{
    "swagger": "2.0",
    "info": {
      "version": "v1.30.0",
      "title": "Meraki Dashboard API",
      "description": "The Cisco Meraki Dashboard API is a modern REST API based on the OpenAPI specification.\n\n> Date: 01 February, 2023\n>\n> [Recent Updates](https://meraki.io/whats-new/)\n\n---\n\n[API Documentation](https://meraki.io/api)\n\n[Community Support](https://meraki.io/community)\n\n[Meraki Homepage](https://www.meraki.com)\n",
      "contact": {
        "name": "Meraki Developer Community",
        "url": "https://meraki.io/community"
      }
    },
    "host": "api.meraki.com",
    "basePath": "/api/v1",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "securityDefinitions": {
      "meraki_api_key": {
        "type": "apiKey",
        "name": "X-Cisco-Meraki-API-Key",
        "in": "header"
      }
    },
    "security": [
      {
        "meraki_api_key": [
  
        ]
      }
    ],
    "paths": {
      "/administered/identities/me": {
        "get": {
          "description": "Returns the identity of the current user.",
          "operationId": "getAdministeredIdentitiesMe",
          "responses": {
            "200": {
              "description": "Successful operation",
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Username"
                  },
                  "email": {
                    "type": "string",
                    "description": "User email"
                  },
                  "lastUsedDashboardAt": {
                    "type": "string",
                    "format": "date-time",
                    "description": "Last seen active on Dashboard UI"
                  },
                  "authentication": {
                    "type": "object",
                    "properties": {
                      "mode": {
                        "type": "string",
                        "description": "Authentication mode"
                      },
                      "api": {
                        "type": "object",
                        "properties": {
                          "key": {
                            "type": "object",
                            "properties": {
                              "created": {
                                "type": "boolean",
                                "description": "If API key is created for this user"
                              }
                            },
                            "description": "API key"
                          }
                        },
                        "description": "API authentication"
                      },
                      "twoFactor": {
                        "type": "object",
                        "properties": {
                          "enabled": {
                            "type": "boolean",
                            "description": "If twoFactor authentication is enabled for this user"
                          }
                        },
                        "description": "TwoFactor authentication"
                      },
                      "saml": {
                        "type": "object",
                        "properties": {
                          "enabled": {
                            "type": "boolean",
                            "description": "If SAML authentication is enabled for this user"
                          }
                        },
                        "description": "SAML authentication"
                      }
                    },
                    "description": "Authentication info"
                  }
                }
              },
              "examples": {
                "application/json": {
                  "name": "Miles Meraki",
                  "email": "miles@meraki.com",
                  "lastUsedDashboardAt": "2018-02-11T00:00:00.090210Z",
                  "authentication": {
                    "mode": "email",
                    "api": {
                      "key": {
                        "created": true
                      }
                    },
                    "twoFactor": {
                      "enabled": false
                    },
                    "saml": {
                      "enabled": false
                    }
                  }
                }
              }
            }
          },
          "summary": "Returns the identity of the current user.",
          "tags": [
            "administered",
            "monitor",
            "identities",
            "me"
          ]
        }
      },
      "/organizations": {
        "get": {
          "description": "List the organizations that the user has privileges on",
          "operationId": "getOrganizations",
          "responses": {
            "200": {
              "description": "Successful operation",
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Organization ID"
                    },
                    "name": {
                      "type": "string",
                      "description": "Organization name"
                    },
                    "url": {
                      "type": "string",
                      "description": "Organization URL"
                    },
                    "api": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean",
                          "description": "Enable API access"
                        }
                      },
                      "description": "API related settings"
                    },
                    "licensing": {
                      "type": "object",
                      "properties": {
                        "model": {
                          "type": "string",
                          "enum": [
                            "co-term",
                            "per-device",
                            "subscription"
                          ],
                          "description": "Organization licensing model. Can be 'co-term', 'per-device', or 'subscription'."
                        }
                      },
                      "description": "Licensing related settings"
                    },
                    "cloud": {
                      "type": "object",
                      "properties": {
                        "region": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Name of region"
                            }
                          },
                          "description": "Region info"
                        }
                      },
                      "description": "Data for this organization"
                    },
                    "management": {
                      "type": "object",
                      "properties": {
                        "details": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "description": "Name of management data"
                              },
                              "value": {
                                "type": "string",
                                "description": "Value of management data"
                              }
                            }
                          },
                          "description": "Details related to organization management, possibly empty"
                        }
                      },
                      "description": "Information about the organization's management system"
                    }
                  }
                }
              },
              "examples": {
                "application/json": [
                  {
                    "id": "2930418",
                    "name": "My organization",
                    "url": "https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview",
                    "api": {
                      "enabled": true
                    },
                    "licensing": {
                      "model": "co-term"
                    },
                    "cloud": {
                      "region": {
                        "name": "North America"
                      }
                    },
                    "management": {
                      "details": [
                        {
                          "name": "MSP ID",
                          "value": "123456"
                        }
                      ]
                    }
                  }
                ]
              }
            }
          },
          "summary": "List the organizations that the user has privileges on",
          "tags": [
            "organizations",
            "configure"
          ]
        },
        "post": {
          "description": "Create a new organization",
          "operationId": "createOrganization",
          "parameters": [
            {
              "name": "createOrganization",
              "in": "body",
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the organization"
                  },
                  "management": {
                    "type": "object",
                    "properties": {
                      "details": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Name of management data"
                            },
                            "value": {
                              "type": "string",
                              "description": "Value of management data"
                            }
                          }
                        },
                        "description": "Details related to organization management, possibly empty"
                      }
                    },
                    "description": "Information about the organization's management system"
                  }
                },
                "example": {
                  "name": "My organization",
                  "management": {
                    "details": [
                      {
                        "name": "MSP ID",
                        "value": "123456"
                      }
                    ]
                  }
                },
                "required": [
                  "name"
                ]
              },
              "required": true
            }
          ],
          "responses": {
            "201": {
              "description": "Successful operation",
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Organization ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "Organization name"
                  },
                  "url": {
                    "type": "string",
                    "description": "Organization URL"
                  },
                  "api": {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "description": "Enable API access"
                      }
                    },
                    "description": "API related settings"
                  },
                  "licensing": {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "enum": [
                          "co-term",
                          "per-device",
                          "subscription"
                        ],
                        "description": "Organization licensing model. Can be 'co-term', 'per-device', or 'subscription'."
                      }
                    },
                    "description": "Licensing related settings"
                  },
                  "cloud": {
                    "type": "object",
                    "properties": {
                      "region": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Name of region"
                          }
                        },
                        "description": "Region info"
                      }
                    },
                    "description": "Data for this organization"
                  },
                  "management": {
                    "type": "object",
                    "properties": {
                      "details": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Name of management data"
                            },
                            "value": {
                              "type": "string",
                              "description": "Value of management data"
                            }
                          }
                        },
                        "description": "Details related to organization management, possibly empty"
                      }
                    },
                    "description": "Information about the organization's management system"
                  }
                }
              },
              "examples": {
                "application/json": {
                  "id": "2930418",
                  "name": "My organization",
                  "url": "https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview",
                  "api": {
                    "enabled": true
                  },
                  "licensing": {
                    "model": "co-term"
                  },
                  "cloud": {
                    "region": {
                      "name": "North America"
                    }
                  },
                  "management": {
                    "details": [
                      {
                        "name": "MSP ID",
                        "value": "123456"
                      }
                    ]
                  }
                }
              }
            }
          },
          "summary": "Create a new organization",
          "tags": [
            "organizations",
            "configure"
          ]
        }
      },
      "/organizations/{organizationId}": {
        "get": {
          "description": "Return an organization",
          "operationId": "getOrganization",
          "parameters": [
            {
              "name": "organizationId",
              "in": "path",
              "type": "string",
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Successful operation",
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Organization ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "Organization name"
                  },
                  "url": {
                    "type": "string",
                    "description": "Organization URL"
                  },
                  "api": {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "description": "Enable API access"
                      }
                    },
                    "description": "API related settings"
                  },
                  "licensing": {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "enum": [
                          "co-term",
                          "per-device",
                          "subscription"
                        ],
                        "description": "Organization licensing model. Can be 'co-term', 'per-device', or 'subscription'."
                      }
                    },
                    "description": "Licensing related settings"
                  },
                  "cloud": {
                    "type": "object",
                    "properties": {
                      "region": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Name of region"
                          }
                        },
                        "description": "Region info"
                      }
                    },
                    "description": "Data for this organization"
                  },
                  "management": {
                    "type": "object",
                    "properties": {
                      "details": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Name of management data"
                            },
                            "value": {
                              "type": "string",
                              "description": "Value of management data"
                            }
                          }
                        },
                        "description": "Details related to organization management, possibly empty"
                      }
                    },
                    "description": "Information about the organization's management system"
                  }
                }
              },
              "examples": {
                "application/json": {
                  "id": "2930418",
                  "name": "My organization",
                  "url": "https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview",
                  "api": {
                    "enabled": true
                  },
                  "licensing": {
                    "model": "co-term"
                  },
                  "cloud": {
                    "region": {
                      "name": "North America"
                    }
                  },
                  "management": {
                    "details": [
                      {
                        "name": "MSP ID",
                        "value": "123456"
                      }
                    ]
                  }
                }
              }
            }
          },
          "summary": "Return an organization",
          "tags": [
            "organizations",
            "configure"
          ]
        },
        "delete": {
          "description": "Delete an organization",
          "operationId": "deleteOrganization",
          "parameters": [
            {
              "name": "organizationId",
              "in": "path",
              "type": "string",
              "required": true
            }
          ],
          "responses": {
            "204": {
              "description": "Successful operation"
            }
          },
          "summary": "Delete an organization",
          "tags": [
            "organizations",
            "configure"
          ]
        },
        "put": {
          "description": "Update an organization",
          "operationId": "updateOrganization",
          "parameters": [
            {
              "name": "organizationId",
              "in": "path",
              "type": "string",
              "required": true
            },
            {
              "name": "updateOrganization",
              "in": "body",
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The name of the organization"
                  },
                  "management": {
                    "type": "object",
                    "properties": {
                      "details": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Name of management data"
                            },
                            "value": {
                              "type": "string",
                              "description": "Value of management data"
                            }
                          }
                        },
                        "description": "Details related to organization management, possibly empty"
                      }
                    },
                    "description": "Information about the organization's management system"
                  },
                  "api": {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "description": "If true, enable the access to the Cisco Meraki Dashboard API"
                      }
                    },
                    "description": "API-specific settings"
                  }
                },
                "example": {
                  "name": "My organization",
                  "management": {
                    "details": [
                      {
                        "name": "MSP ID",
                        "value": "123456"
                      }
                    ]
                  },
                  "api": {
                    "enabled": true
                  }
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful operation",
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Organization ID"
                  },
                  "name": {
                    "type": "string",
                    "description": "Organization name"
                  },
                  "url": {
                    "type": "string",
                    "description": "Organization URL"
                  },
                  "api": {
                    "type": "object",
                    "properties": {
                      "enabled": {
                        "type": "boolean",
                        "description": "Enable API access"
                      }
                    },
                    "description": "API related settings"
                  },
                  "licensing": {
                    "type": "object",
                    "properties": {
                      "model": {
                        "type": "string",
                        "enum": [
                          "co-term",
                          "per-device",
                          "subscription"
                        ],
                        "description": "Organization licensing model. Can be 'co-term', 'per-device', or 'subscription'."
                      }
                    },
                    "description": "Licensing related settings"
                  },
                  "cloud": {
                    "type": "object",
                    "properties": {
                      "region": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "description": "Name of region"
                          }
                        },
                        "description": "Region info"
                      }
                    },
                    "description": "Data for this organization"
                  },
                  "management": {
                    "type": "object",
                    "properties": {
                      "details": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Name of management data"
                            },
                            "value": {
                              "type": "string",
                              "description": "Value of management data"
                            }
                          }
                        },
                        "description": "Details related to organization management, possibly empty"
                      }
                    },
                    "description": "Information about the organization's management system"
                  }
                }
              },
              "examples": {
                "application/json": {
                  "id": "2930418",
                  "name": "My organization",
                  "url": "https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview",
                  "api": {
                    "enabled": true
                  },
                  "licensing": {
                    "model": "co-term"
                  },
                  "cloud": {
                    "region": {
                      "name": "North America"
                    }
                  },
                  "management": {
                    "details": [
                      {
                        "name": "MSP ID",
                        "value": "123456"
                      }
                    ]
                  }
                }
              }
            }
          },
          "summary": "Update an organization",
          "tags": [
            "organizations",
            "configure"
          ]
        }
      },
      "/organizations/{organizationId}/actionBatches": {
        "post": {
          "description": "Create an action batch",
          "operationId": "createOrganizationActionBatch",
          "parameters": [
            {
              "name": "organizationId",
              "in": "path",
              "type": "string",
              "required": true
            },
            {
              "name": "createOrganizationActionBatch",
              "in": "body",
              "schema": {
                "type": "object",
                "properties": {
                  "confirmed": {
                    "type": "boolean",
                    "description": "Set to true for immediate execution. Set to false if the action should be previewed before executing. This property cannot be unset once it is true. Defaults to false."
                  },
                  "synchronous": {
                    "type": "boolean",
                    "description": "Set to true to force the batch to run synchronous. There can be at most 20 actions in synchronous batch. Defaults to false."
                  },
                  "actions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "resource": {
                          "type": "string",
                          "description": "Unique identifier for the resource to be acted on"
                        },
                        "operation": {
                          "type": "string",
                          "description": "The operation to be used"
                        },
                        "body": {
                          "type": "object",
                          "properties": {
  
                          },
                          "description": "The body of the action",
                          "default": {
  
                          }
                        }
                      },
                      "required": [
                        "resource",
                        "operation"
                      ]
                    },
                    "description": "A set of changes to make as part of this action (<a href='https://developer.cisco.com/meraki/api/#/rest/guides/action-batches/'>more details</a>)"
                  }
                },
                "example": {
                  "confirmed": true,
                  "synchronous": true,
                  "actions": [
                    {
                      "resource": "/devices/QXXX-XXXX-XXXX/switch/ports/3",
                      "operation": "create"
                    }
                  ]
                },
                "required": [
                  "actions"
                ]
              },
              "required": true
            }
          ],
          "responses": {
            "201": {
              "description": "Successful operation",
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "ID of the action batch. Can be used to check the status of the action batch at /organizations/{organizationId}/actionBatches/{actionBatchId}"
                  },
                  "organizationId": {
                    "type": "string",
                    "description": "ID of the organization this action batch belongs to"
                  },
                  "confirmed": {
                    "type": "boolean",
                    "description": "Flag describing whether the action should be previewed before executing or not"
                  },
                  "synchronous": {
                    "type": "boolean",
                    "description": "Flag describing whether actions should run synchronously or asynchronously"
                  },
                  "status": {
                    "type": "object",
                    "properties": {
                      "completed": {
                        "type": "boolean",
                        "description": "Flag describing whether all actions in the action batch have completed"
                      },
                      "failed": {
                        "type": "boolean",
                        "description": "Flag describing whether any actions in the action batch failed"
                      },
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "List of errors encountered when running actions in the action batch"
                      },
                      "createdResources": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "ID of the created resource"
                            },
                            "uri": {
                              "type": "string",
                              "description": "URI, not including base, of the created resource"
                            }
                          }
                        },
                        "description": "Resources created as a result of this action batch"
                      }
                    },
                    "required": [
                      "createdResources"
                    ],
                    "description": "Status of action batch"
                  },
                  "actions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "resource": {
                          "type": "string",
                          "description": "Unique identifier for the resource to be acted on"
                        },
                        "operation": {
                          "type": "string",
                          "description": "The operation to be used by this action"
                        }
                      },
                      "required": [
                        "resource",
                        "operation"
                      ]
                    },
                    "description": "A set of changes made as part of this action (<a href='https://developer.cisco.com/meraki/api/#/rest/guides/action-batches/'>more details</a>)"
                  }
                },
                "required": [
                  "actions"
                ]
              },
              "examples": {
                "application/json": {
                  "id": "1234",
                  "organizationId": "2930418",
                  "confirmed": true,
                  "synchronous": false,
                  "status": {
                    "completed": true,
                    "failed": false,
                    "errors": [
  
                    ],
                    "createdResources": [
                      {
                        "id": "1284392014819",
                        "uri": "/networks/L_XXXXX/groupPolicies/100"
                      }
                    ]
                  },
                  "actions": [
                    {
                      "resource": "/devices/QXXX-XXXX-XXXX/switch/ports/3",
                      "operation": "update"
                    }
                  ]
                }
              }
            }
          },
          "summary": "Create an action batch",
          "tags": [
            "organizations",
            "configure",
            "actionBatches"
          ]
        },
        "get": {
          "description": "Return the list of action batches in the organization",
          "operationId": "getOrganizationActionBatches",
          "parameters": [
            {
              "name": "organizationId",
              "in": "path",
              "type": "string",
              "required": true
            },
            {
              "type": "string",
              "enum": [
                "completed",
                "failed",
                "pending"
              ],
              "name": "status",
              "in": "query",
              "description": "Filter batches by status. Valid types are pending, completed, and failed."
            }
          ],
          "responses": {
            "200": {
              "description": "Successful operation",
              "schema": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              },
              "examples": {
                "application/json": [
                  {
                    "id": "123",
                    "organizationId": "2930418",
                    "confirmed": true,
                    "synchronous": false,
                    "status": {
                      "completed": true,
                      "failed": false,
                      "errors": [
  
                      ],
                      "createdResources": [
                        {
                          "id": 100,
                          "uri": "/networks/L_XXXXX/groupPolicies/100"
                        }
                      ]
                    },
                    "actions": [
                      {
                        "resource": "/devices/QXXX-XXXX-XXXX/switch/ports/3",
                        "operation": "update",
                        "body": {
                          "enabled": false
                        }
                      },
                      {
                        "resource": "/networks/L_XXXXX/groupPolicies",
                        "operation": "create",
                        "body": {
                          "name": "Group 1"
                        }
                      }
                    ]
                  }
                ]
              }
            }
          },
          "summary": "Return the list of action batches in the organization",
          "tags": [
            "organizations",
            "configure",
            "actionBatches"
          ]
        }
      },
      "/organizations/{organizationId}/actionBatches/{actionBatchId}": {
        "delete": {
          "description": "Delete an action batch",
          "operationId": "deleteOrganizationActionBatch",
          "parameters": [
            {
              "name": "organizationId",
              "in": "path",
              "type": "string",
              "required": true
            },
            {
              "name": "actionBatchId",
              "in": "path",
              "type": "string",
              "required": true
            }
          ],
          "responses": {
            "204": {
              "description": "Successful operation"
            }
          },
          "summary": "Delete an action batch",
          "tags": [
            "organizations",
            "configure",
            "actionBatches"
          ]
        },
        "put": {
          "description": "Update an action batch",
          "operationId": "updateOrganizationActionBatch",
          "parameters": [
            {
              "name": "organizationId",
              "in": "path",
              "type": "string",
              "required": true
            },
            {
              "name": "actionBatchId",
              "in": "path",
              "type": "string",
              "required": true
            },
            {
              "name": "updateOrganizationActionBatch",
              "in": "body",
              "schema": {
                "type": "object",
                "properties": {
                  "confirmed": {
                    "type": "boolean",
                    "description": "A boolean representing whether or not the batch has been confirmed. This property cannot be unset once it is true."
                  },
                  "synchronous": {
                    "type": "boolean",
                    "description": "Set to true to force the batch to run synchronous. There can be at most 20 actions in synchronous batch."
                  }
                },
                "example": {
                  "confirmed": true,
                  "synchronous": false
                }
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful operation",
              "schema": {
                "type": "object"
              },
              "examples": {
                "application/json": {
                  "id": "123",
                  "organizationId": "2930418",
                  "confirmed": true,
                  "synchronous": false,
                  "status": {
                    "completed": false,
                    "failed": false,
                    "errors": [
  
                    ],
                    "createdResources": [
  
                    ]
                  },
                  "actions": [
                    {
                      "resource": "/devices/QXXX-XXXX-XXXX/switch/ports/3",
                      "operation": "update",
                      "body": {
                        "enabled": false
                      }
                    },
                    {
                      "resource": "/networks/L_XXXXX/groupPolicies",
                      "operation": "create",
                      "body": {
                        "name": "Group 1"
                      }
                    }
                  ]
                }
              }
            }
          },
          "summary": "Update an action batch",
          "tags": [
            "organizations",
            "configure",
            "actionBatches"
          ]
        },
        "get": {
          "description": "Return an action batch",
          "operationId": "getOrganizationActionBatch",
          "parameters": [
            {
              "name": "organizationId",
              "in": "path",
              "type": "string",
              "required": true
            },
            {
              "name": "actionBatchId",
              "in": "path",
              "type": "string",
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Successful operation",
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "ID of the action batch. Can be used to check the status of the action batch at /organizations/{organizationId}/actionBatches/{actionBatchId}"
                  },
                  "organizationId": {
                    "type": "string",
                    "description": "ID of the organization this action batch belongs to"
                  },
                  "confirmed": {
                    "type": "boolean",
                    "description": "Flag describing whether the action should be previewed before executing or not"
                  },
                  "synchronous": {
                    "type": "boolean",
                    "description": "Flag describing whether actions should run synchronously or asynchronously"
                  },
                  "status": {
                    "type": "object",
                    "properties": {
                      "completed": {
                        "type": "boolean",
                        "description": "Flag describing whether all actions in the action batch have completed"
                      },
                      "failed": {
                        "type": "boolean",
                        "description": "Flag describing whether any actions in the action batch failed"
                      },
                      "errors": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "List of errors encountered when running actions in the action batch"
                      },
                      "createdResources": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "description": "ID of the created resource"
                            },
                            "uri": {
                              "type": "string",
                              "description": "URI, not including base, of the created resource"
                            }
                          }
                        },
                        "description": "Resources created as a result of this action batch"
                      }
                    },
                    "required": [
                      "createdResources"
                    ],
                    "description": "Status of action batch"
                  },
                  "actions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "resource": {
                          "type": "string",
                          "description": "Unique identifier for the resource to be acted on"
                        },
                        "operation": {
                          "type": "string",
                          "description": "The operation to be used by this action"
                        }
                      },
                      "required": [
                        "resource",
                        "operation"
                      ]
                    },
                    "description": "A set of changes made as part of this action (<a href='https://developer.cisco.com/meraki/api/#/rest/guides/action-batches/'>more details</a>)"
                  }
                },
                "required": [
                  "actions"
                ]
              },
              "examples": {
                "application/json": {
                  "id": "1234",
                  "organizationId": "2930418",
                  "confirmed": true,
                  "synchronous": false,
                  "status": {
                    "completed": true,
                    "failed": false,
                    "errors": [
  
                    ],
                    "createdResources": [
                      {
                        "id": "1284392014819",
                        "uri": "/networks/L_XXXXX/groupPolicies/100"
                      }
                    ]
                  },
                  "actions": [
                    {
                      "resource": "/devices/QXXX-XXXX-XXXX/switch/ports/3",
                      "operation": "update"
                    }
                  ]
                }
              }
            }
          },
          "summary": "Return an action batch",
          "tags": [
            "organizations",
            "configure",
            "actionBatches"
          ]
        }
      }
  }
  }